body {
    background-color: rgba(255, 0, 60, 0.94);
    margin: 0;
    padding: 0;
}
.container {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.discoball {
position: relative;
width: 100px;
height: 100px;
border-radius: 50%;
border: 5px solid black;
box-sizing: border-box;
overflow: hidden;
background-color: rgba(209, 255, 255, 1);
z-index: 1;
}


.square {
position: absolute;
width: 15px;
height: 15px;
border-radius: 5px;
border: 5px solid black;
background-color: rgba(209, 255, 255, 0.8);
top: calc(42% - 50.5px);
left: calc(50% - 12.5px);
z-index: 0;
}

.rectangle {
position: absolute;
width: 34px;
height: 72px;
border-radius: 7px;
border: 5px solid black;
left: calc(51% + 8px);
top: calc(41% - 24px);
transform: rotate(-340deg);
background-color: rgba(253, 255, 205, 1);
overflow: hidden;
z-index: 2;
}

.rectangle::before {
content: "";
position: absolute;
width: 5px;
height: 40px;
background-color: black;
top: 5px;
left: 12px;
transform: rotate(-90deg);
}

.rectangle::after {
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(225, 226, 227, 1);
top: 27px;
left: 0;
}

.line-connector {
position: absolute;
width: 5px;
height: 400%;
background-color: black;
left: calc(50% - 2.5px);
top: calc(-300% - 107px);
z-index: 0;
}

.name {
  position: absolute;
  padding: 5px;
  font-size: 36px;
  font-weight: bold;
  font-family: helvetica;
  color: hotpink;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(225%);
  text-align: center;
}


.sparkle {
position: absolute;
width: 40px;
height: 40px;
background-image: url("sparkle.png");
background-repeat: no-repeat;
background-size: contain;
top: calc(-20% - 12px);
left: calc(50% + 15px);
}

.sparkle2 {
position: absolute;
width: 25px;
height: 25px;
background-image: url("sparkle2.png");
background-repeat: no-repeat;
background-size: contain;
top: calc(10% - 12px);
left: calc(95% + 10px);
}

.sparkle3 {
position: fixed;
width: 15px;
height: 15px;
background-image: url("sparkle3.png");
background-repeat: no-repeat;
background-size: contain;
top: calc(-40% - 12px);
left: calc(87% + 15px);
}

.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
}

.line {
    position: absolute;
    background-color: black;
    height: 5px;
    width: 100%;
}

.line:nth-child(1) {
top: calc(25% - 2.5px + 5px);
}

.line:nth-child(2) {
top: calc(50% - 2.5px + 7px);
}

.line:nth-child(3) {
top: calc(75% - 2.5px + 5px);
}

.oblong {
position: absolute;
width: 45px;
height: 100px;
background-color: transparent;
border: 5px solid black;
border-radius: 50%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
box-sizing: border-box;
}
